<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>offician mainpage</title>
</head>
<body>
    ยินดีต้อนรับ <%= login %> <br>
    offician <br>
    <button onclick="location.href='./repair'">จัดการซ่อม</button>
    <button onclick="location.href='./bill'">ใบเสร็จ</button>
    <button onclick="location.href='./buy'">จัดการซื้อ</button>
</body>
</html>