<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ใบกำกับภาษี</title>
</head>
<body>
    <form method="POST" action="">
        รหัสประจำตัวผู้เสียถาษี <input type="text" name="tax" maxlength="13"><br>
        <button type="submit">ยืนยัน</button>
    </form>

</body>
</html>